.container-fluid{
    display:flex;
    text-align: justify;
    justify-content: center;
    padding:30px;
}
.heading{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}