.paddingDiv{
    width: 100%;
    padding: 30px;
    margin-left: 11px;
    text-align: justify;
}
.secondMainSection{
    margin-left: 2%;
    padding-bottom: 3%;
    /* padding: 3%; */
    /* margin-top: -77px; */
}
.mainSectionRow{
    text-align: center;
    margin-left: -65px;
}
.mainSectionRow .col{
    box-Shadow:none;
}
.reliefCenter1 {
    width: 300px;
    height: 150px;
    margin-top: 8px;
    border-radius: 30px;
}
.totalAcoomodated {
    width: 300px;
    height: 150px;
    margin-top: 8px;
    border-radius: 30px;
}
.remainingVaccancy{
    width: 300px;
    height: 150px;
    margin-top: 8px;
    border-radius: 30px;
}
.secondSubSection{
    margin-left: 11px;
    margin-top: 28px;

}
.subSectionRow{
    margin-left: 25px;
}
.first{
    
    height: 56px;
    border-radius: 30px;
    margin-left: 16px;
    background-color: #807777;
}
.subSRHeading2{
    width: 197px;
    height: 38px;
    left: 337px;
}
.subFHeading2{
    width: 50px;
    height: 25px;
    margin-left: -42px;
}
.subFHeading3{
    width: 50px;
    height: 25px;
    margin-left: -42px;
}
.tableDiv{
    padding: 1px 54px;
}


.notificationSection{
    width: 92%;
    /* height: 314px; */
    min-height: 250px;
    /* float: right; */
    margin-left: 57px;
    /* margin-top: -7px; */
    text-align: center;
    margin-top: 14px;
    /* padding: 1px 78px; */
    border-radius: 30px;
    background-color: #FFFFFF;
}
.notificationSection .notificationText{
    font-size:18px;
    padding: 23px;
}
.relif-supply-section{
    height: fit-content;
    margin-left: 4%;
    margin-top: 2%;
    width: 464px;
    border-radius: 30px;
    min-width: 220px;
    background-color: #ece8e8;
}
.notificationContainer{
    display:flex;
    justify-content:space-around;
    padding-bottom: 12px;
}
.notification_btn_rsr{
    border: none;
    width: 387px;
    padding: 4px 3px;
    border-radius: 30px;
    color: #ffff;
    background-color: #519db7;
}

@media(max-width:1466px){
    .mainSectionRow {
        margin-left: -120px;
    }
}
/* @media(max-width:1458px){
    .notificationSection{
        margin-right: 92px;
    } */
    /* .relif-right{
        margin-right: -5px;
    } 
}*/
@media(max-width:1425px){
    .notificationSection{
        margin-right: 84px;
    }
    
}
@media(max-width:1400px){
    .notificationSection{
        margin-right: 86px;
    }
}


@media(max-width:1395px){
    .notificationSection{
        margin-right: 89px;
    }
}
@media(max-width:1350px){
    .notificationSection{
        margin-right: 78px;
    }
}
@media(max-width:1340px){
    .mainSectionRow {
        margin-left: -98px;
    }
    .notificationSection{
        margin-right: 66px;
    }
}
@media(max-width:1320px){
    .notificationSection{
        margin-right: 65px;
    }
}
@media(max-width:1300px){
    .notificationSection{
        margin-right: 60px;
    }
}

@media(max-width:1250px){
    .notificationSection{
        margin-right: 46px;
    }
    .tableSection {
        margin-left: -2px;
    }
}

@media(max-width:1240px){
    .mainSectionRow {
        margin-left: -58px;
    }
    .notificationSection{
        margin-right: 7px;
    }
}

@media(max-width:1175px){
    .notificationSection{
        margin-right: 25px;
    }
}
@media(max-width:1168px){
    .notificationSection{
        margin-right: 30px;
        margin-top: 15px;
    }
    .tableSection{
        margin-left: 18px;
    }

}
@media(max-width:1140px){
    .mainSectionRow {
        margin-left: -52px;
    }
    .notificationSection{
        margin-right: 38px;
    }
}
@media(max-width:1110px){
    .notificationSection{
        margin-right: 7px;
    }
    .tableSection{
        margin-left: 15px;
        width: 620px;
    }
}
@media(max-width:1070px){
    .notificationSection{
        margin-right: -8px;
    }
    .tableSection{
        margin-left: 10px;
        width: 600px;
    }

}
@media(max-width:1058px){
    .notificationSection{
        margin-right: -4px;
    }
}
@media(max-width:1023px){
    .notificationSection{
        margin-left: 50px;        
        width: 90%;
    }
    .tableSection{
        margin-left: 8%;
        width: 87%;
        /* width: fit-content; */
    }
}

@media(max-width:945px){
    .notificationSection{
        margin-left: 56px;
        float: left;
        width: 87%;
    }
    .tableSection{
        margin-left: 8%;
        /* width: fit-content; */
    }
}

@media(max-width:900px){
    /* .notificationSection{
        margin-left: 33px;
    } */
    .tableSection{
        margin-left: 5%;
    }
}
@media(max-width:870px){
    /* .notificationSection{
        margin-left: 23px;
    } */
    .tableSection{
        margin-left: 5%;
    }
}
@media(max-width:840px){
    .notificationSection{
        margin-left: 55px;
    }
    .tableSection{
        margin-left: 5%;
    }
}

@media(max-width:830px){
    .relifSupplyRequest-container{
        margin-top: 3%;
    }
    .relif-supply-section {
        margin-left: -11%;
        width: 622px;
    }
    .location{
        left: -395px;
        width: 76%;
    }
}
@media(max-width:800px){
    .notificationSection{
        margin-left: 52px;
        width: 86%;   
    }
}

@media(max-width:768px){
    .secondMainSection {
        margin-left: 5%;
        /* padding: 3%;
        margin-top: -77px; */
    }
    /* .notificationSection{
        margin-right: 188px;
    } */
}
@media(max-width:700px){
    .mainSectionRow {
        margin-left: -19px;
    }
    .notificationSection{
        margin-left: 55px;
        width: 84%;
    }
}
@media(max-width:578px){
    .tableSection{
        margin-left: 21px;
    }
}
@media(max-width:560px){
    .mainSectionRow {
        margin-left: -2px;
    }
    .tableSection{
        margin-left: -17px;
    }
}
@media(max-width:524px){
    .tableDiv{
        margin-left: -5px;
   }
   .notificationSection {
    margin-left: 50px;
    width: 437px;
    }
}