body{
    background:#e5edef;
}
.mainDisaster{
    width: 100%;
    padding: 30px;
    text-align: justify;
}
/* cotact section */
.contact-container{
    height: 207px;
    width: 92%;
    padding: 30px;
    text-align: center;
    margin-left: 22px;
    border-radius: 30px;
    /* margin-top: 297px; */
    background-color: #FFFFFF;
}

.contact{
    width: 203px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    margin-left: 42%;
    background-color: #ece8e8;
}
/* contact section end */

/* relief supply request  */
.relifSupplyRequest-container{
    height: 120px;
    width: 100%;
    margin-left: -2%;
    text-align: center;
    flex-direction: column;
    margin-top: 2%;
    display: flex;
}
.relif-supply-section{
    height: fit-content;
    margin-left: 4%;
    margin-top: 2%;
    width: 464px;
    border-radius: 30px;
    min-width: 220px;
    background-color: #FFFFFF;
}
.btn-rsr{
    border: none;
    width: 387px;
    padding-bottom: 2%;
    border-radius: 30px;
    background-color: #FFFFFF;
}
/* relief supply request end */

/* Location */
.location{
    height: 232px;
    width: 41%;
    text-align: center;
    border-radius: 30px;
    margin-top: -7%;
    margin-left: 52%;
    background-color: #FFFFFF;
}
/* location end */

@media(max-width:1350px){
    .location{
        margin-top: -8%;
    }
}
@media(max-width:1340px){
    .contact-container{
        width: 92%;
    }
}

@media(max-width:1300px){
    .contact{
        margin-left: 40%;
    }
    .location{
        margin-top: -8%;
    }
}

@media(max-width:1250px){
    .contact-container{
        width: 96%;
        margin-left: 2px;
    }
    .contact{
        margin-left: 40%;
    }
    .location{
        margin-top: -9%;
    }
}

@media(max-width:1240px){
    .contact-container{
        width: 99%;
        margin-left: 2px;
    }
    .location{
        margin-top: -9%;
        margin-left: 58%;
    }
}
@media(max-width:1239px){
    .contact-container{
        width: 99%;
        margin-left: 2px;
    }
}
@media(max-width:1175px){
    .location{
        margin-top: -10%;
        margin-left: 57%;
    }
}
@media(max-width:1168px){
    .contact-container{
        width: 96%;
        margin-left: 17px;
    }
}

@media(max-width:1110px){
    .contact-container{
        width: 98%;
        margin-left: 17px;
    }
}
@media(max-width:1070px){
    .location{
        margin-top: -11%;
        margin-left: 58%;
    }
}

@media(max-width:1023px){
    .contact-container{
        width: 82%;
        margin-left: 55px;
    }
    .relif-supply-section {
        margin-left: -8%;
        width: 738px;
    }
    .relifSupplyRequest-container{
        margin-left: 16%;
    }
    .location{
        width: 73%;
        /* top: 500%; */
        margin-top:14%;
        left: -474px;
        position: absolute;        
    }
}

@media(max-width:1005px){
    .location{
        left: -467px;
        width: 75%;
    }
}
@media(max-width:995px){
    .contact-container{
        width: 85%;
    }
    .contact{
        margin-left: 35%;
    }
    .location{
        left: -455px;
        width: 74%;
    }
}
@media(max-width:985px){
    .location{
        left: -455px;
        width: 77%;
    }
}
@media(max-width:970px){
    .contact-container{
        width: 88%;
    }
}
@media(max-width:945px){
    .contact-container{
        width: 88%;
    }
    .location{
        left: -432px;
        width: 79%;
    }
}
@media(max-width:940px){
    .contact-container{
        width: 88%;
    }
    .location{
        left: -424px;
        width: 79%;
    } 
}
@media(max-width:930px){
    .relif-supply-section{
    margin-left: -7%;
    width: 702px;
    }
    .location{
        left: -418px;
        width: 77%;
    }
}
@media(max-width:910px){
    .location{
        left: -408px;
        width: 78%;
    }
}
@media(max-width:900px){
    .contact-container{
        width: 88%;
        margin-left: 3%;
    }
    .contact{
        margin-left: 36%;
    }
    .relif-supply-section {
        margin-left: -10%;
        width: 679px;
    }
    .location{
        left: -427px;
        width: 76%;
    }
}
@media(max-width:887px){
    .relif-supply-section {
        margin-left: -10%;
        width: 660px;
    }
}
@media(max-width:870px){
    .relif-supply-section {
        margin-left: -11%;
        width: 655px;
    }
    .location{
        left: -410px;
        width: 77%;
    }
}
@media(max-width:840px){
    .relif-supply-section {
        margin-left: -11%;
        width: 631px;
    }
    .location{
        left: -397px;
        width: 76%;
    }
}

@media(max-width:837px){
    .relifSupplyRequest-container{
        margin-top: 3%;
    }
    .relif-supply-section {
        margin-left: -11%;
        width: 631px;
    }
    .location{
        left: -397px;
        width: 76%;
    }
}
@media(max-width:830px){
    .relifSupplyRequest-container{
        margin-top: 3%;
    }
    .relif-supply-section {
        margin-left: -11%;
        width: 622px;
    }
    .location{
        left: -395px;
        width: 76%;
    }
}
@media(max-width:815px){
   .relif-supply-section {
        margin-left: -11%;
        width: 608px;
    }
    .location{
        left: -389px;
        width: 76%;
    }
}
@media(max-width:800px){
    .relif-supply-section {
        margin-left: -11%;
        width: 595px;
     }
     .location{
        left: -377px;
        width: 75%;
     }
 }
 @media(max-width:785px){
    .relif-supply-section {
        margin-left: -11%;
        width: 580px;
     }
     .location{
        left: -374px;
        width: 76%;
     }
 }
 
@media(max-width:768px){
    .relif-supply-section {
        margin-left: -11%;
        width: 567px;
     }
     .location{
        left: -367px;
        width: 76%;
     }
}
@media(max-width: 758px){
    .relif-supply-section {
        margin-left: -11%;
        width: 542px;
     }
    .location{
        left: -352px;
        width: 76%;
     }
}
@media(max-width: 742px){
    .location{
        left: -345px;
        width: 76%;
     }
}
@media(max-width: 727px){
    .contact-container{
        width: 88%;
        margin-left: 3%;
    }
    .contact{
        margin-left: 33%;
    }
    .relif-supply-section {
        margin-left: -11%;
        width: 536px;
    }
    .location{
        left: -345px;
        width: 76%;
     }
}
@media(max-width: 720px){
    .location{
        left: -336px;
        width: 76%;
     }
}

@media(max-width: 710px){
    .relif-supply-section {
        margin-left: -11%;
        width: 525px;
    }
    .location{
        left: -327px;
        width: 76%;
     }
}
@media(max-width: 690px){
    .relif-supply-section {
        margin-left: -11%;
        width: 503px;
    }
    .location{
        left: -321px;
        width: 75%;
     }
}
@media(max-width: 680px){
    .relif-supply-section {
        margin-left: -11%;
        width: 495px;
    }
    .location{
        left: -311px;
        width: 75%;
     }
}
@media(max-width: 667px){
    .relif-supply-section {
        margin-left: -11%;
        width: 474px;
    }
    .location{
        left: -310px;
        width: 75%;
    }
}
@media(max-width: 670px){
    .contact-container{
        width: 88%;
        margin-left: 3%;
    }
    .contact{
        margin-left: 29%;
    }
}
@media(max-width: 650px){
    .location{
        left: -295px;
        width: 75%;
    }
}
@media(max-width: 640px){
    .relif-supply-section {
        margin-left: -11%;
        width: 459px;
    }
    .location{
        left: -295px;
        width: 75%;
    }
}
@media(max-width: 625px){
    .relif-supply-section {
        margin-left: -11%;
        width: 443px;
    }
    .location{
        left: -284px;
        width: 75%;
    }
    .relif-left {
        width: 117%;
    }
}
@media(max-width: 615px){
    .location{
        left: -274px;
        width: 73%;
    }
}
@media(max-width: 610px){
    .contact-container{
        width: 88%;
        margin-left: 3%;
    }
    .contact{
        margin-left: 26%;
    }
    .relif-supply-section {
        margin-left: -11%;
        width: 428px;
    }
    .location{
        left: -270px;
        width: 74%;
    }
}
@media(max-width:598px){
    .relif-supply-section {
        margin-left: -11%;
        width: 413px;
    }
    .location{
        left: -267px;
        width: 72%;
    }
}
@media(max-width:590px){
    .location{
        left: -266px;
        width: 72%;
    }
}
@media(max-width:582px){
    .location{
        left: -252px;
        width: 72%;
    }
}

@media(max-width:578px){
    .location{
        left: -249px;
        width: 72%;
    }
}
@media(max-width:565px){
    .relif-supply-section {
        margin-left: -11%;
        width: 392px;
    }
    .location{
        left: -252px;
        width: 72%;
    }
}

@media(max-width:560px){
    .contact-container{
        margin-left: 5%;
    }
    .contact{
        margin-left: 17%;
    }
}

@media(max-width:552px){
    .location{
        left: -241px;
        width: 72%;
    }
}

@media(max-width:532px){
    .relif-supply-section {
        margin-left: -11%;
        width: 362px;
    }
    .location{
        left: -220px;
        width: 72%;
    }
}
@media(max-width:529px){
    .location{
        left: -220px;
        width: 72%;
    }
}
@media(max-width:520px){
    .location{
        left: -215px;
        width: 74%;
    }
}
@media(max-width:510px){
    .btn-rsr {
        border: none;
        width: 327px;
    }
    .location{
        left: -208px;
        width: 72%;
        margin-top: 13%;
    }
}