.container{
    margin-top: 53px;
    text-align: justify;
    border: 2px solid #383431;
    border-radius: 47px;
    width: fit-content;
    margin: 58px;
}
.heading{
    font-size:26px;
    font-weight:bold;
    padding: 5px;
    text-align:center
}
.name > h4{
    padding:8px;
}